@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}



.produtos-em-ofertas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

.Primeiro_produto {
    background: #121212;
    width: 300px;
    height: 435px;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    margin: 30px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.Primeiro_produto:hover .Produtos_restantes{
    visibility: hidden;
}

.Primeiro_produto:hover .Descontos{
    visibility: hidden;
}

.Primeiro_produto:hover .btnComprar button{
    width: 100%;
}

.Primeiro_produto:hover #Favorite_id {
    display: block;
}

.Produto_nome {
    color: #fff;
}

.Promos {
    display: grid;
    grid-template-rows: .2fr 1fr;
    grid-template-columns: .2fr 2fr .5fr .5fr .2fr;

}

.Stars_produto {
    grid-column: 2;
    grid-row: 2;
    margin-top: 10px;
}

.Produtos_restantes {
    outline: 1px solid var(--cor1);
    border-radius: 4px;
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}


.Produtos_restantes p {
    color: var(--cor1);
    font-size: 10px;
    text-align: center;
}

.Produtos_restantes span {
    color: var(--cor1);
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}


.Descontos {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cor1);
    outline: 1px solid var(--cor1);
    border-radius: 4px;
    width: 50px;
    height: 50px;
    grid-column: 4;
    grid-row: 2;
    margin-left: 10px;
    margin-top: 10px;
}

.Descontos p  {
    color: #fff;
    font-weight: 700;
}

.Imagem_do_produto {
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagem_do_produto img{
    width: 150px;
    height: 150px;
}

.InformacoesProduto {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.Preco_produto {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--cor1);
}

.Botao_comprar {
    width: 100%;
    height: 14%;
}

.btnComprar {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 100%;
    height: 100%;
    margin-top: -5px;
}

.btnComprar button {
    border: none;
    outline: 1px solid var(--cor1);
    width: 50px;
    height: 50px;
    background: var(--cor1);
    border-radius: 5px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.BtnFlexComprar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.Cart_Shopping_produto {
    width: 30px;
    height: 30px;
    color: #fff;
}

#Favorite_id {
    display: none;
}


.Favorite_produto {
    position: absolute;
    right: 30px;
    top: 20px;
}

.Favorite_icon {
    color: #fff;
    width: 30px;
    height: 30px;
    transition: all .2s ease-in-out;
}

.Favorite_icon:hover {
    color: red;
}