.Popup_container

.Box_popup
    background: rgb(62, 194, 26)
    border-bottom: 3px solid rgba(14, 116, 14, 0.985)
    width: 380px
    height: 70px
    position: fixed
    top: 90%
    right: 1%
    z-index: 99
    border-radius: 10px
    display: flex
    align-items: center
    justify-content: center
    gap: 20px
    padding: 20px
    box-shadow: 0px 1px 5px rgba(0,0 ,0 ,.1 )

.IconsPopup
    display: flex
    align-items: center
    justify-content: center
    height: 100%

.Title_popup
    color: #fff 
    font-size: 17px
    text-align: center

.Icons_popup
    color: #fff
    width: 30px
    height: 30px
