*
    margin: 0
    padding: 0
    font-family: 'Poppins', sans-serif

$cor1: #A155DB
$cor2: #44245C
$cor3: #A156DB
$cor4: #AB5AE8
$cor5: #8F4CC2
$cor6: #121212
$cor7: #222222
$cor8: #1A1A1A
$cor9: #2C2C2C
$cor10: #111111

.Compra
    background-color: $cor7
    align-items: center
    justify-content: center
    flex-direction: column

.Title_compra
    padding: 70px 70px 0 70px
    width: 100%

.Texto_bold
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 24px
    color: #8B8B8B
    margin: 20px 0

.Texto_thin
    font-style: normal
    font-weight: 300
    font-size: 20px
    line-height: 24px
    color: #8B8B8B
    margin: 0 15px

.Texto_roxo
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: #A155DB

.Line_compra
    border: 1px solid #AEAEAE

.Grid_compra
    display: grid
    grid-template-columns: .5fr 1fr
    grid-template-rows: 1fr 1fr

.Produto_compra
    padding: 70px
    width: 100%
    height: 100%
    grid-row: 1
    grid-column: 1

.Imagens_compra
    display: flex
    align-items: center
    gap: 70px

.Quadrado_visualizar
    width: 80px
    height: 88px
    background: #494949
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 12px
    margin: 20px 0

.Quadrado_visualizado
    background: url('src/assets/IMG/img-produtos/produto1.svg')
    width: 415px
    height: 415px
    background-repeat: no-repeat
    background-size: cover
    background-position: center center

.Info_compra
    padding: 70px
    width: 100%
    height: 100%
    grid-row: 1
    grid-column: 2

.Texto_compras
    width: 1002px
    font-weight: 400
    font-size: 36px
    line-height: 44px
    color: #FFFFFF

.Stars_compra
    display: flex
    gap: 10px
    padding: 15px 0

.Avaliacao
    font-weight: 600
    font-size: 20px
    line-height: 24px
    color: #DDDDDD

.Numero_avaliacao
    font-weight: 600
    font-size: 20px
    line-height: 24px
    color: #484848

.Grid_infos
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 30px 0

.Nome_compra
    color: $cor1
    font-weight: 900
    font-size: 42px
    line-height: 51px

.Desconto_compra
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: #484848
    margin: 10px 0

.PurpleLine_compra
    width: 255px
    height: 9px
    background: $cor1
    margin: 10px 0

.Cartao_compra
    font-weight: 700
    font-size: 24px
    line-height: 24px
    color: $cor1
    margin: 10px 0

.InfoCartao_compra
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: #484848

.InfoCartaoRoxo_compra
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: $cor1
    margin: 10px 0

.Comprar_compra
    width: 426px
    height: 105px
    border: none
    outline: none
    background: $cor1
    border-radius: 12px 12px 0 0
    font-weight: 800
    font-size: 30px
    line-height: 48px
    color: #FFFFFF
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    text-transform: uppercase

.Compartilhar_compra
    width: 426px
    height: 92px
    background: $cor2
    border: none
    outline: none
    border-radius: 0px 0px 12px 12px
    font-weight: 800
    font-size: 30px
    line-height: 48px
    color: #FFFFFF
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    text-transform: uppercase

.Calc_cep
    display: flex
    padding: 70px
    gap: 20px

.Input_cep
    width: 359px
    height: 51px
    background: $cor7
    border: 1px solid rgba(130, 130, 130, 0.79)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    padding-left: 15px

.Ok_cep
    color: $cor1
    width: 137px
    height: 51px
    background: $cor7
    border: 3px solid $cor1
    border-radius: 5px
