.flex
    display: flex
    align-items: center
    justify-content: center

.teste button 
    width: 500px
    height: 100px
    background: purple
    border: none
    outline: none
    font-size: 2em
    color: #fff 
    font-weight: 800
    border-radius: 12px
    margin: 100px
    transition: all .3s ease

.teste button:hover
    background: #620065

#res
    display: block