/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor1: #a155db;
    --cor2: #44245c;
    --cor3: #a156db;
    --cor4: #ab5ae8;
    --cor5: #8f4cc2;
    --cor6: #121212;
    --cor7: #222222;
    --cor8: #1a1a1a;
    --cor9: #2c2c2c;
    --cor10: #111111;
}

.card2 {
    border-radius: 0px;
    background-color: #222;
}

.image-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    row-gap: 5px;
}

.card-image2 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.Card_image_1 {
    background-image: url(/src/assets/IMG/Promo\ SA.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.Card_image_2 {
    background-image: url(/src/assets/IMG/Promo\ SA2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.Card_image_3 {
  background-image: url(/src/assets/IMG/Promo\ SA3.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.Card_image_4 {
  background-image: url(/src/assets/IMG/Promo\ SA4.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--cor1);
}
