*
  margin: 0
  padding: 0
  font-family: 'Poppins', sans-serif

$cor1: #A155DB
$cor2: #44245C
$cor3: #A156DB
$cor4: #AB5AE8
$cor5: #8F4CC2
$cor6: #121212
$cor7: #222222
$cor8: #1A1A1A
$cor9: #2C2C2C
$cor10: #111111

/* Sanduiche-menu */

.container
  height: 100%
  display: flex
  align-items: center
  justify-content: left
  grid-column: 2

.logo
  width: 50px
  height: 50px
  border-radius: 50%
  border: 1px solid #fff
  grid-column: 3

#checkbox-menu
  position: absolute
  opacity: 0

.container label
  cursor: pointer
  position: relative
  display: block
  height: 22px
  width: 45px

.container label span
  position: absolute
  display: block
  height: 5px
  width: 100%
  border-radius: 30px
  background: $cor1
  transition: .2s ease-in-out

.navbar
  display: flex
  align-items: center
  justify-content: center
  gap: 100px
  grid-column: 6
  transition: all .5s ease

// .navbar a
//   position: relative
//   font-size: 1.3em
//   font-weight: 500
//   color: #fff
//   text-decoration: none
//   margin: 20px

.navbar a::after
  content: ''
  position: absolute
  width: 100%
  height: 3px
  background: $cor1
  border-radius: 5px
  left: 0
  bottom: -6px
  transform-origin: right
  transform: scaleX(0)
  transition: transform .5s

.navbar a:hover::after
  transform: scaleX(1)
  transform-origin: left

.navbar a:hover
  color: $cor1

.search-shop
  display: flex
  gap: 25px
  grid-column: 8

.search img
  width: 30px
  height: 30px

.shopping-cart img
  width: 30px
  height: 30px
  color: #fff

.sign-in-up
  display: flex
  grid-column: 9
  gap: 30px
  transition: all .4s ease

.sign-in button
  background: transparent
  border: none
  border-radius: 76px
  outline: none
  width: 100px
  height: 50px
  font-size: 18px
  transition: all .5s ease

.sign-in button:hover
  color: $cor1

.sign-in button:hover a
  color: $cor1
  transform: scale(1.1)

.sign-in a
  text-decoration: none
  color: #fff

.sign-up button
  background: transparent
  height: 58px
  width: 170px
  border-radius: 76px
  border: 1px solid #FFFFFF
  cursor: pointer
  background: transparent
  padding: 1em 2em
  border: none
  font-weight: bold
  text-transform: uppercase
  color: $cor2
  transition: all 1000ms
  font-size: 15px
  position: relative
  overflow: hidden
  outline: 2px solid #fff

.sign-up button:hover
  color: #ffffff
  transform: scale(1.1)
  outline: 2px solid $cor1
  box-shadow: 4px 5px 17px -4px $cor1

.sign-up button::before
  content: ""
  position: absolute
  left: -50px
  top: 0
  width: 0
  height: 100%
  background-color: $cor2
  transform: skewX(45deg)
  z-index: -1
  transition: width 1000ms

.sign-up button:hover::before
  width: 250%

.sign-up a
  text-decoration: none
  color: #fff

.sign-up button:hover a
  color: #fff 

.light-dark
  height: 50px
  width: 50px
  border: 1px solid #fff
  border-radius: 50%
  color: #fff
  grid-column: 10
  display: flex
  align-items: center
  justify-content: center

.light-dark img
  width: 30px
  height: 30px

.sidebar
  display: none
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 500px
  z-index: 999
  background: #000
  box-shadow: 5px 0px 1px $cor9

.flex-conta
  display: flex
  align-items: center
  justify-content: space-between
  padding: 40px

.fechar-sidebar
  width: 70px
  height: 70px
  background: $cor1
  border-radius: 8px
  display: flex
  align-items: center
  justify-content: center

.Icon_close
  color: #fff
  height: 50px
  width: 50px

.conta_sidebar
  display: flex
  align-items: center
  justify-content: center
  gap: 20px

.conta_sidebar img
  position: relative
  height: 70px
  width: 70px
  object-fit: cover
  border-radius: 50%
  border: 2px solid $cor1
  user-select: none

.conta_sidebar h1
  color: #fff
  text-transform: uppercase

.Links-sidebar
  display: flex
  align-items: center
  flex-direction: column
  height: 80vh
  justify-content: space-between

.Links-sidebar ul
  list-style-type: none

.Links-sidebar ul li
  display: flex
  align-items: center
  gap: 30px
  color: #fff
  margin: 20px
  font-size: 23px
  transition: all .2s ease-in-out
  cursor: pointer

.Links-sidebar ul li:hover
  color: $cor1

.logout button
  background: $cor1
  border-radius: 10px
  outline: none
  border: none
  width: 400px
  height: 50px
  font-size: 23px
  color: #fff
  font-weight: 600
  text-transform: uppercase
  padding: 40px
  display: flex
  align-items: center
  justify-content: center

.Link_icon
  width: 40px
  height: 40px
  color: $cor1
